body {
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    color: #777; 
    background: #777;
    width: 960px; 
    font-size: 18px;
    text-align: center; 
    margin: 0 auto;
}
header, nav {
    background: #ebebeb;
    padding: 38px;
    margin-top: 10px;
}
section {
    background: #ebebeb; 
    width: 495px;
    height:220px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 32px;
    float: left;
}
article {
    color: #ebebeb; 
    background: #777;
    width: 495px;
    margin: 20px;
    margin-left: -20px;
    padding: 20px;
}
h1, p {
    color: #777;
    background: #ebebeb;
    padding: 20px;
    margin: 7px;
    margin-bottom: 1px;
}
aside {
    background: #ebebeb;
    width: 317px;
    height: 220px;
    margin: 20px;
    margin-right: 0px;
    padding: 32px;
    display: inline-block;
}
footer {
    background: #ebebeb;
    padding: 38px;
    clear: both;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}